body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    font-family: 'Rubik Burned', sans-serif;
    text-align: center;
    font-size: 50px;
    text-shadow: 0 0 1rem #000000;
    background-image: url(rain.gif);
    background-size: cover;
    color: white;
    padding: 1vh;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Darumadrop One', sans-serif;
    text-align: center;
    font-size: 40px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    color: white;
    margin: 0;
    padding-bottom: 3rem;
}


.page-content {
    width: 60%;
    margin: 3rem;
    font-family: 'Darumadrop One', sans-serif;
}

li {
    font-family: 'Darumadrop One', sans-serif;
    background-color: #514c70;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Darumadrop One', sans-serif;
    text-decoration: none;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

 #main-section {
    display: flex;
    flex-direction: row;
    padding-left: 15rem;
    padding-right: 15rem;
    justify-content: space-between;
}

footer {
    text-align: center;
    font-family: 'Darumadrop One', sans-serif;
    background-color: #000000;
    color: white;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  filter: blur(10px) brightness(10%) saturate(50%);
  transform: scale(1.1);
  z-index: -1;
}

p {
    color: white;
    font-size: 20px;
    opacity: 0.5;
}